node_modules/
.turbo/
apps/*/node_modules/
apps/*/.nuxt/
apps/*/.turbo/

apps/api/bin/
apps/api/logs/
apps/api/uploads/
apps/api/var/*
!apps/api/var/.gitkeep

deploy/state/**/*
!deploy/state/**/.gitkeep

log

*.exe

.envrc
